<div class="flex align-items-center justify-content-center">
    <p-card header="SMART-DOOR" subheader="" [style]="{width: '720px'}" styleClass="p-card-shadow content-center ">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://i.pinimg.com/originals/b6/84/9b/b6849bba245a533e608908fc3f14a6c5.gif" width="220" height="20" />
            <div>
                <iframe
                    width="720"
                    height="315"
                    src="https://www.youtube.com/embed/0cIRccuPtQQ?autoplay=1"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
            <img alt="Card" src="https://i.pinimg.com/originals/b6/84/9b/b6849bba245a533e608908fc3f14a6c5.gif" width="220" height="20" />
        </ng-template>
        <p></p>
        <ng-template pTemplate="footer">
            <p-button label="เปิดประตูทางเข้า" icon="pi pi-circle-on"></p-button>
            <p-button label="เปิดประตูทางออก" icon="pi pi-circle-on" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
        </ng-template>
    </p-card>
</div>
