<div class="grid">
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">ประจำวัน</span>
          <div class="custom-text">152</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-users text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-500">สมาชิกเพิ่มขึ้น </span>
      <span class="text-green-500 font-medium">%24+ </span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">ประจำวันสัปดาห์</span>
          <div class="text-900 font-medium custom-text">2,000</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-users text-orange-500 text-xl"></i>
        </div>
      </div>
      <span class="text-500">สมาชิกเพิ่มขึ้น </span>
      <span class="text-green-500 font-medium">%50+ </span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">ประจำวันเดือน</span>
          <div class="text-900 font-medium custom-text">28,441</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-users text-cyan-500 text-xl"></i>
        </div>
      </div>
      <span class="text-500">สมาชิกเพิ่มขึ้น </span>
      <span class="text-green-500 font-medium">%13+ </span>
    </div>
  </div>
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">ประจำวันปี</span>
          <div class="text-900 font-medium custom-text">130,943</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
          [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
          <i class="pi pi-users text-purple-500 text-xl"></i>
        </div>
      </div>
      <span class="text-500">สมาชิกเพิ่มขึ้น </span>
      <span class="text-green-500 font-medium">%73+ </span>
    </div>
  </div>
</div>
