<div class="layout-menu-container">
    <ul class="layout-menu" role="menu" (keydown)="onKeydown($event)">
        <li app-menu class="layout-menuitem-category" *ngFor="let item of model; let i = index" role="none">
            <div class="layout-menuitem-root-text" [attr.aria-label]="item.label">
                {{ item.label }}
            </div>
            <ul role="menu" *ngIf="model.length >0">
                <ng-container *ngFor="let child of item.items">
                    <ng-container *ngIf="child.isShow" >
                        <li app-menuitem [item]="child" [index]="i" role="none" (click)="clickMenu($event)"></li>
                    </ng-container>
                </ng-container>
            </ul>
        </li>
    </ul>
</div>
